#p-product-detail {
    width: 100%;

    .mb-20 {
        margin-top: 20px;
    }

    .p-product-list__body {
        background: none;
    }

    .auction_1_countdown {
        margin: 15px;
    }

    .p-product-list__order {
        max-height: 35px;
        color: #fff;
        font-size: 1.5rem;
        font-weight: 500;
        background: url(img/bg-btn-1.png);
        background-size: cover;
        line-height: 2;
        padding: 5px 50px;
        margin-top: 10px;
    }

    .uk-tab>.uk-active>a {
        border-color: #9d9d6c;
    }



}



.p-price__text.__bgbox {
    background: #faf0df;
    border: 1px solid #b4bc9b;
    padding: 10px;
    width: 50%;
}

.p-product-list__name h1 {
    color: #fff;
    font-size: 2.1rem;
    font-weight: 400;
    line-height: 1.11;
}

.p-price__price {
    color: #d19861;
    font-size: 2rem;

}

.p-price__discuout-per {
    font-size: 1.4rem;
    color: #d19861;
}

.p-product-detail__release-date {
    font-size: 1rem;
    color: #b4bc9b;
}

.s-30 {
    width: 30px;
}

.p-price__text.__bgbox.box-100 {
    width: 100%;
    text-align: center;
}

.p-price__follow {
    width: 50%;
    float: left;
}

.p-product-list-note {
    border-radius: 10px;
    display: block;
}

.detail-note {
    font-size: 1rem;
    line-height: 1;
    padding: 3rem;
}

.uk-tab>.note_tap.uk-active>a.title_detail {
    color: white;
    margin-left: -20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #e9ceab;
}

.uk-tab>.note_tap>a.title_detail {
    color: darkgoldenrod;
    font-size: 1.4rem;
    font-weight: 400;
    padding-right: 20px;
    background: burlywood;
    margin-left: -20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

#p-product-slider__container {
    display: block;

    .p-product-list__item-inner__box {
        background: -webkit-gradient(linear, left top, right top, from(#BF953F), color-stop(#FCF6BA), color-stop(#B38728), color-stop(#FBF5B7), to(#AA771C));
        background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
        padding: 8px;
    }
}

.p-product-detail-main.__figuresdetail {
    background: #9a8aaa;
}

.p-product-detail-main.__resindetail {
    background: #9ca565;
}

.ctrl {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px solid #D5DCE6;
    background-color: #dfd8b8;
    border-radius: 5px;
    font-size: 1.5rem;
}

.ctrl__button {
    width: 50px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    background-color: #b4bc9b;
    -webkit-transition: background-color 100ms ease-in;
    transition: background-color 100ms ease-in;
}

.ctrl__button--decrement {
    border-radius: 5px 0 0 5px;
}

.ctrl__button--increment {
    border-radius: 0 5px 5px 0;
}

.ctrl__counter {
    position: relative;
    width: 200px;
    height: 25px;
    color: #333C48;
    text-align: center;
    overflow: hidden;
}

.ctrl__counter {
    position: relative;
    width: 200px;
    height: 30px;
    color: #333C48;
    text-align: center;
    overflow: hidden;
}

.ctrl__counter-input {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
    box-shadow: none;
    outline: none;
    border: none;
    color: #333C48;
    font-size: 1.5rem;
    line-height: 1;
    text-align: center;
    visability: hidden;
    opacity: 0;
    -webkit-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
}

.ctrl__counter-num {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    line-height: 1.25;
    visability: visible;
    opacity: 1;
    -webkit-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
}

.note_atjn {
    background: rgb(233, 206, 171);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.mapa-0 {

    margin-bottom: 0;
    padding-bottom: 0;
    margin-top: 0 !important;
    padding-top: 0;

}

.note_tap {

    background-color: #e9ceab;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.uk-tab {
    margin-left: 0 !important;
}

.uk-tab>.uk-active>a {
    border-color: transparent !important;
}